.dynamic-form {
  font-family: var(--form-font-family);

  .header-card h2 {
    font-size: var(--form-heading-font, 1.5rem);
    font-family: inherit;
    color: #000 !important; // ez biztosítja, hogy mindig látszik
  }

  .form-field {
    margin-bottom: 1rem;

    .v-field,
    .v-field__input,
    .v-select__selection-text {
      background-color: var(--form-bg) !important;
    }

    .v-field__input,
    .v-select__selection-text {
      font-size: var(--form-input-font) !important;
    }

    .v-label.v-field-label {
      font-size: var(--form-label-font) !important;
    }

    .v-switch .v-label {
      font-size: var(--form-label-font) !important;
    }

    .v-overlay__content {
      font-size: var(--form-input-font);
    }
  }

  .v-btn {
    background-color: var(--form-color) !important;
    color: #fff !important;
    font-size: var(--form-button-font) !important;
    transition:
      background-color 0.2s ease,
      filter 0.2s ease;
  }

  .v-btn:hover {
    filter: brightness(110%);
  }
}
